.home {
  padding-top: 50px;
  margin-bottom: 50px;
  &__title {
    margin-bottom: 100px;

    h1 {
      color: black;
      font-weight: bold;
      font-size: 50px;
      text-align: center;
      margin-top: 50px;
    }
  }
}
